<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<script type="text/x-tmpl" id="tmpl-autotranscribe-explainer">
    <div class="modalContainer modalContainer-publishToYoutube">
    <div class="modalHeader">
    <span>Auto Transcribe Explainer</span>
</div>
<div class="modalContent">
    <div id="cp_widget_1542975133760">...</div>
<script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_1542975133760"; cpo["_fid"] = "AcDAbXeE6ToF!A0JDzlyk5Mo7";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
    cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
    var c = document.getElementsByTagName("script")[0];
    c.parentNode.insertBefore(cp, c); })(); </script>
    </div>
    </div>
</script>

<script type="text/x-tmpl" id="tmpl-thumbnail-explainer">
    <div class="modalContainer modalContainer-publishToYoutube">
    <div class="modalHeader">
    <span> Auto Transcribe Explainer </span>
</div>
<div class="modalContent">
    <div id="cp_widget_1542975133760">...
</div>
<script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_1542975133760"; cpo["_fid"] = "AcDAbXeE6ToF!A0JDzlyk5Mo7";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
    cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
    var c = document.getElementsByTagName("script")[0];
    c.parentNode.insertBefore(cp, c); })();
</script>
</div>
</div>
</script>

</body>
</html>